* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  background-color: white;
  padding-bottom: 2rem;

  nav {
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: black;
      padding: 1rem;

      &.active {
        background-color: paleturquoise;

      }
    }
  }
}

.container {
  width: 80%;
  max-width: 1176px;
  margin: auto
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem
}

.col {
  width: calc(100% / 5);
  padding: 1rem
}

main {
  background-color: black;
  text-align: left;

  h1 {
    color: white;
  }
}

footer {
  background-image: url('./assets/img/footer-bg.jpg');
  min-height: 100vh;
}